<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm Sense</title>
    <link rel="stylesheet" href="/css/landing.css">
    
</head>
<body>
    <div id="text-container"></div>
    <div class="button-container">
        <a href="/login">
            <button class="get-started-btn">Get Started</button>
        </a>
    </div>
    <script src="/js/landing.js"></script>
</body>
</html>