<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm Sense</title>
</head>
<body>
    <h1> Describe how you're feeling </h1>
    <!--input a sentence. use an nlp library to get the general sentiment/adjective. create a playlist of 5 songs based on this keyword 
    and display (iframe). map moods to genres as well-->
    <a href="/get-playlists"> <button> View Results </button></a>
</body>
</html>