<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm Sense</title>
    <link rel="stylesheet" href="/css/playlists.css">
</head>
<body>

    <div id="results-container">
        <h1 class="rising-text">Check this out!</h1>
        <p class="personalized-message"><%- displayName%>, we curated this just for you!</p>
        <iframe 
            src="https://open.spotify.com/embed/playlist/<%- playlistID %>" 
            width="800" 
            height="480" 
            frameborder="0" 
            allowtransparency="true" 
            allow="encrypted-media">
        </iframe>
    </div>

</body>
</html>